absl-py==2.1.0
appdirs==1.4.4
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
Cython==3.0.8
docker-pycreds==0.4.0
easydict==1.12
filelock==3.13.1
fonttools==4.49.0
fsspec==2024.2.0
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.28.1
google-auth-oauthlib==0.4.6
grpcio==1.62.0
huggingface-hub==0.21.3
idna==3.6
importlib-metadata==7.0.1
importlib_resources==6.1.2
jpeg4py==0.1.4
jsonpatch==1.33
jsonpointer==2.4
kiwisolver==1.4.5
lmdb==1.4.1
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib==3.7.5
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
networkx==3.1
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
oauthlib==3.2.2
opencv-python==4.9.0.80
packaging==23.2
pandas==2.0.3
Pillow==9.3.0
protobuf==4.25.3
psutil==5.9.8
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser==2.21
pyparsing==3.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.2
scipy==1.10.1
sentry-sdk==1.40.6
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
tb-nightly==2.11.0a20220906
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
thop==0.0.31.post2005241907
tikzplotlib==0.10.1
timm==0.9.16
torch==1.9.0
torchaudio==0.9.0a0+33b2469
torchvision==0.10.0
tornado==6.4
tqdm @ file:///croot/tqdm_1679561862951/work
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
tzdata==2024.1
urllib3==2.2.1
visdom==0.2.4
wandb==0.16.3
webcolors==1.13
websocket-client==1.7.0
Werkzeug==3.0.1
zipp==3.17.0
